<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loginuser</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .parent{
            background: linear-gradient(#64e66b, #9198e5);
            height: 100vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .child{
            background-color: white;
            
            width: 300px;
            padding: 10px;
            border-radius: 9px;

        }
    </style>
</head>
<body style="position: fixed;">
        
        <div class="parent">
            <div class="container mt-3 text-center" style="height: max-content; width:max-content;">
                <div class="child">
                    <img src="https://static.vecteezy.com/system/resources/thumbnails/007/407/996/small/user-icon-person-icon-client-symbol-login-head-sign-icon-design-vector.jpg" style="padding-top: 10px; padding-bottom: 10px;">

                    <h2 class="alert alert-info">Login User</h2>

                    <form method="post" action="">

                        {% csrf_token %}

                        {{ form.as_p }}

                        <button class="btn btn-outline-success" type="submit">login</button>
                        <h5>OR</h5>
                        <a class="btn btn-outline-success" href="{% url 'signupuser' %}">Sign up</a>

                    </form>

                    {% if error %}
                    <h3 class="alert alert-danger mt-3">{{ error }}</h3>
                    {% endif %}

                </div>
                
            </div>
            
        </div>
</body>
</html>